beautifulsoup4==4.7.1
boto3==1.5.13
chardet==3.0.4
ConfigArgParse==0.13.0
configobj==5.0.6
Django==1.11.23
django-contrib-comments
html5lib==1.0.1
image==1.5.19
ipaddress==1.0.22
mysqlclient==1.4.2.post1
parsedatetime==2.4
Pillow==4.3.0
pytz==2018.5
requests==2.21.0
simplejson==3.16.0
