beautifulsoup4==4.7.1
boto3==1.5.13
chardet==3.0.4
ConfigArgParse==0.13.0
configobj==5.0.6
Django==2.2.13
django-contrib-comments
html5lib==1.0.1
image==1.5.19
ipaddress==1.0.22
mysqlclient==1.4.6
parsedatetime==2.4
Pillow==6.2.2
pytz==2018.5
requests==2.22.0
simplejson==3.16.0
bbcode==1.1.0