{% extends "base.html" %}
{% block title %}Votefinder: Log In{% endblock %}

{% block onready %}
    $("button, input:submit").button();
{% endblock %}

{% block content %}
    <h1><a href="/">Votefinder</a>: Log In</h1>
    <hr>

    <p>Enter your user information. If you don't have an account, you may <a href="/auth/create">create one</a>.</p>

    {% if form.non_field_errors %}
        <p>
            {% for error in form.non_field_errors %}
                <strong>Error:</strong> {{ error }}
            {% endfor %}
            <a href="/auth/password_reset/">Forgot your password?</a>
        </p>
    {% endif %}

    <form action="/auth/login{% if next and next != '/auth/logout' %}?next={{ next }}{% endif %}" method="post">{% csrf_token %}
        <table border="0" cellpadding="3" cellspacing="2">
            <tr>
                <td>Username:</td>
                <td>{{ form.username }}</td>
                <td>{{ form.username.errors }}</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>{{ form.password }}</td>
                <td>{{ form.password.errors }}</td>
            </tr>
        </table>

        <p><input type="Submit" value="Login"/></p>
    </form>

{% endblock %}
