{% extends "base.html" %}
{% block title %}VoteFinder: Link Forum Profile, Step 1{% endblock %}

{% block onready %}
{% endblock %}

{% block content %}
    <h1><a href="/">VoteFinder</a>: Link Forum Profile, Step 1</h1>
    <hr>

    <p>Open your <a href="https://forums.somethingawful.com/member.php?action=editprofile" target="_blank">SA Forums
        Profile</a> or your <a href="https://breadnroses.net/account/account-details">Bread and Roses account details page</a> (link opens a new window).</p>

    <p><b>Something Awful users:</b> In the Location, Interests, or Occupation field, paste this value: <strong>{{ profileKey }}</strong><br/>
        Save your profile then press Next on this page to continue to step 2.</p>
    <p><b>Bread and Roses users:</b> Replace the Location field with this value: <strong>{{ profileKey }}</strong></p>

    <a href="/auth/link_profile/2/">Continue &raquo;</a>
{% endblock %}
