* {
    text-shadow: none!important;
    box-shadow: none!important;
    border-radius: 0!important;
    font-family: "Consolas", "Monaco", monospace !important;
    color: #57FF57 !important;
	background-color: #000000 !important;
	background: #000000 !important;
}