html {
    position: relative;
    min-height: 100%;
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-weight: 100;
    margin: 0;
}

body {
    padding-bottom: 60px;
}

.navbar {
    background-color: #ccc;
}

.navbar-brand {
    font-family: 'Raleway', serif;
}

.navbar a:not(.navbar-brand) {
    color: #636b6f;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.dropdown-submenu .dropdown-submenu-right {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu-right > .dropdown-menu-right {
    top: 0;
    right: 100%;
    margin-top: -6px;
    margin-right: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu-right:hover > .dropdown-menu-right {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu-right > a:after {
    display: block;
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-right-color: #cccccc;
    margin-top: 5px;
    margin-left: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu-right:hover > a:after {
    border-right-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.content {
    text-align: center;
}

.title {
    font-size: 48px;
}

.games a {
    text-decoration: none;
}

.game h3 {
    margin-top: 0px;
}

.footer {
    position: absolute; /* Override */
    bottom: 0;
    width: 100%;
    height: 60px;
}

#aboveContainer {
    text-align: right;
    padding: 0.2em;
    margin-top: 2em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#belowContainer {
    padding: 0.2em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#belowText {
    color: #888;
    float: left;
    font-size: small;
}

#belowText a {
    text-decoration: none;
    color: #88A;
}

#belowText a:hover {
    text-decoration: underline;
}

#belowIcons {
    vertical-align: middle;
    float: right;
}

#aboveContainer a {
    text-decoration: none;
}

#mainContainer {
    background: white;
    border: 2px solid black;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#mainContainer hr {
    color: black;
    background-color: #ddd;
    height: 2px;
    border: none;
}

.blogPost {
    margin-top: 1em;
    padding: 0.5em;
}

.blogPostTitle {
    font-size: 1.4em;
    /*font-weight: bold;*/
}

.blogPostBody {
    margin: 1em;
}

.invisible {
    display: none;
    visible: false;
}

.visible {
    display: block;
    visible: true;
}

#loading {
    margin: 1em;
    padding: 0.5em;
}

.loadingImg {
    margin-right: 1em;
}

.addGameResult {
    font-size: 1.2em;
}

#closeWindow {
    width: 100%;
    text-align: right;
}

.grayed {
    color: #aaa;
    font-style: italic;
}

.postList {
    padding-left: 2em;
    padding-right: 2em;
}

.playerList {
    background: red;

    border: 2px solid #ddd;
    padding: 0.5em;
    margin: 0.5em;
    width: 25%;
    vertical-align: top;

}

.player {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.player a {
    text-decoration: none;
    display: block;
}

.player a:hover {
    color: white;
}

.player:hover {
    background-color: #8888ff;
}

#mod {
    background-color: #ffffdd;
}

#alive {
    background-color: #ddffdd;
}

#dead {
    background-color: #ffddaa;
}

#spectator {
    background-color: #f5f5f5;
}

.blackOutline {
    border: 1px solid black;
}

.creator {
    font-style: italic;
}

.ui-tabs .ui-tabs-hide {
    display: none;
}

.postsTable {
    width: 100%;
}

.postRowEven {
    background: #e8e8e8;
}

.postRowOdd {
    background: #f4f4f4;
}

#postList {
    width: 100%;
    height: 30em;
    overflow: auto;
}

#disabled-navigation {
    align: center;
    border: 1px solid #888;
    background: white;
    padding: 0.5em;
    display: inline;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.post {
    border: 1px solid #888;
    padding: 0.5em;
    margin: 0.5em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.comment-poster {
    font-weight: bold;
    font-size: 1.1em;
}

.messages {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#topMenu {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 0;
}

#deadlineHour, #deadlineMinute {
    width: 2em;
}

#votecount-results {
    padding: 0.5em;

// background: -moz-linear-gradient(top, #EEDEAD, #FEEEBD);
// background: -webkit-gradient(linear,
left top, left bottom, from(#EEDEAD), to(#FEEEBD));
// filter: progid: DXImageTransform . Microsoft . Gradient(StartColorStr = '#EEDEAD', EndColorStr = '#FEEEBD', GradientType = 0);
// -moz-border-radius: 8 px;
// -webkit-border-radius: 8 px;
}

.middle {
    vertical-align: top;
}

#bbcode {
    width: 100%;
    height: 100%;
}

.template-form {
    border: 0;
    width: 95%;
    border-spacing: 0;
    x
}

.template-form tr td {
    padding: 0.33em;
    margin: 0;
}

.template-form tr td input[type="text"], .template-form tr td textarea {
    width: 100%;
}

td.label {
    text-align: right;
    margin-right: 1em;
}

tr.row-highlight {
    background-color: #e5e5e5;
}

tr.instructions {
    display: none;
    font-size: smaller;
    color: #777;
}

tr.instructions td.text {
    background: #ffffcc;
    vertical-align: top;
}

.game {
    display: block;
    float: left;
    border: 1px solid #bbb;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0.2em;
    width: 40%;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.mini {
    background: #ddd;
// background: -moz-linear-gradient(top, #fEeEbD, #ffffd6);
// background: -webkit-gradient(linear, left top, left bottom, from(#fEeEbD), to(#ffffd6));
// filter: progid: DXImageTransform . Microsoft . Gradient(StartColorStr = '#fEeEbD', EndColorStr = '#ffffd6', GradientType = 0);
}

.big {
    background: #ccc;
// background: -moz-linear-gradient(top, #ffff44, #ffffd6);
// background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffff44), color-stop(1, #ffffd6));
// filter: progid: DXImageTransform . Microsoft . Gradient(StartColorStr = '#ffff44', EndColorStr = '#ffffd6', GradientType = 0);
}

.game:hover {
    border: 1px solid black;
    background-color: #bbb !important;
    cursor: pointer;
}

.game-title {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}

.game-updated {
}

.second-line, .game-mod {
    font-style: italic;
    filter: alpha(opacity=60);
    opacity: 0.6;
    font-size: 0.9em;
}

.game-mod {
    float: right;
}

.game-mod a {
    text-decoration: none;
}

table.game-list {
    border: 0;
    width: 95%;
    border-spacing: 0;
}

table.game-list tbody tr td {
    padding: 0.2em;
    margin: 0px;
}

.game-list a {
    text-decoration: none;
}

table.game-list thead tr {
    cursor: pointer;
    font-size: 1.2em;
    text-decoration: underline;
}

.even {
    background: #f8f8f8;
}

.asc {
    padding-left: 11px;
    background: url('/static/up-arrow.png') no-repeat left center;
}

.desc {
    padding-left: 11px;
    background: url('/static/down-arrow.png') no-repeat left center;
}

.player-pm {
    border: 1px solid #ccc;
    padding: 0.5em;
    margin-bottom: 1em;
    width: 90%;

// background: -moz-linear-gradient(top, #EEDEAD, #FEEEBD);
// background: -webkit-gradient(linear,
left top, left bottom, from(#FFEFBE), to(#FEEEBD));
// filter: progid: DXImageTransform . Microsoft . Gradient(StartColorStr = '#EEDEAD', EndColorStr = '#FEEEBD', GradientType = 0);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.player-pm-name-disabled {
    font-weight: normal;
    font-style: italic;
    margin-bottom: 0;
}

.player-pm-name-enabled {
    font-weight: bold;
    margin-bottom: 1em;
}

.player-pm-body {
    padding-left: 2em;
}

.player-pm-body textarea {
    width: 95%;
    height: 10em;
}

/* remove halo effect in firefox   */
a:active {
    outline: none;
}

.nav-pills > li {
    border-radius: 8px;
    border: 1px solid #ccc;
}

.quote {
	width: 90% !important;
	border: 2px solid #c3c3c3 !important;
	-webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, .05) !important;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .05) !important;
}

.quote > h4 {
	font-style: italic;
	font-size: 14px;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}
