{% extends "base.html" %}
{% block title %}VoteFinder: Claim Player{% endblock %}

{% block onready %}
$('#claim-profile').click(function() {
  $(this).prop('disabled', true).text('Claiming profile (this may take some time)');
  $('#linkProfileForm').submit();
});
{% endblock %}

{% block content %}
    <h1><a href="/">VoteFinder</a>: Claim Player</h1>
    <hr>

    <p>Open your {% if player.sa_uid %}<a href="https://forums.somethingawful.com/member.php?action=editprofile" target="_blank">SA Forums
        Profile</a>{% elif player.bnr_uid %}<a href="https://breadnroses.net/account/account-details" target="_blank">Bread and Roses account details page</a>{% endif %} for {{ player.name }} (link opens a new window).</p>

    {% if player.sa_uid %}<p>In the Location, Interests, or Occupation field, paste this value: <strong>{{ claim_key }}</strong><br/>
        Save your profile then press Next on this page to continue to step 2.</p>{% endif %}
    {% if player.bnr_uid %}<p>In the Location field, paste this value: <strong>{{ claim_key }}</strong></p>{% endif %}

    <button id="claim-profile" class="btn">Claim Profile &raquo;</button><form id="claimProfileForm"  action="/claim_player/{{ player.id }}" method="post">{% csrf_token %}</form>
{% endblock %}
