{% extends "base.html" %}
{% block title %}VoteFinder: Closed Games{% endblock %}

{% block header %}
    <script type="text/javascript" src="/static/jquery.datatables.js"></script>
    <link href="/static/jquery.datatables.min.css" type="text/css" rel="stylesheet" />
    <style>
        .dataTables_wrapper .myfilter .dataTables_filter {
            float:left
        }
        .dataTables_wrapper .mylength .dataTables_length {
            float:right
        }
    </style>
{% endblock %}

{% block onready %}
    $('#game-list').DataTable({"order":[[0, "asc"]],"dom":"<'myfilter'f><'mylength'l>tp"});
{% endblock %}

{% block content %}
    <h1><a href="/">VoteFinder</a>: Closed Games</h1>
    <hr>

    <p>There are currently <strong>{{ total }}</strong> closed game{{ total|pluralize }} that are not being tracked.
        Click on a column name to sort by that column.</p>

    <table class="table" id="game-list">
        <thead>
        <tr>
            <th>Game Name</th>
            <th>Moderator</th>
            <th>Size</th>
            <th>Players</th>
            <th>Created</th>
            <th>Closed</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Game Name</th>
            <th>Moderator</th>
            <th>Size</th>
            <th>Players</th>
            <th>Created</th>
            <th>Closed</th>
        </tr>
        </tfoot>
        <tbody>
        {% for game in games %}
            <tr>
                <td><a href="{{ game.get_absolute_url }}">{{ game.name|safe }}</a></td>
                <td><a href="{{ game.moderator.get_absolute_url }}">{{ game.moderator.name }}</a></td>
                <td>{% if game.players_count > 15 %}Large{% else %}Mini{% endif %}</td>
                <td>{{ game.players_count }}</td>
                <td data-sort="{{ game.created_on|date:"U" }}">{{ game.created_on|date }}</td>
                <td data-sort="{{ game.lastUpdated|date:"U" }}">{{ game.lastUpdated|date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
