{% extends "base.html" %}
{% block title %}VoteFinder: Frequently Asked Questions{% endblock %}

{% block content %}
    <h1><a href="/">VoteFinder</a>: Frequently Asked Questions</h1>
    <hr>

    <p>I will have some stuff here someday!!</p>

    <ol>
        <li>
            <h3>Who are you?</h3>
            <p>I'm just some guy.</p>
        </li>
        <li>
            <h3>Why does this site suck?</h3>
            <p>Because I'm not done with it.</p>
        </li>
        <li>
            <h3>Are you hacking my computer right now?</h3>
            <p>No, I'm hacking your SA account.</p>
        </li>
        <li>
            <h3>When will this FAQ be useful?</h3>
            <p>It will be a while.</p>
        </li>
    </ol>
{% endblock %}
