{% extends "base.html" %}
{% block title %}VoteFinder: Frequently Asked Questions{% endblock %}

{% block content %}
    <h1><a href="/">VoteFinder</a>: Frequently Asked Questions</h1>
    <hr>

    <p>I will have some stuff here someday!!</p>

    <ol>
        <li>
            <h3>Who are you?</h3>
            <p>Hi, I'm <a href="https://ajl.io" target="_blank">Alli</a>, the maintainer behind Votefinder.</p>
        </li>
        <li>
            <h3>Why does this site suck?</h3>
            <p>The Votefinder development process is ongoing, and continuing to add new features and fix issues. If you've noticed an issue with the site or vote counting, please feel free to contact me or submit an issue via the GitHub issues page (linked in the website footer).</p>
        </li>
        <li>
            <h3>How do I use Votefinder as a game moderator?</h3>
            <p>A more comprehensive guide is coming soon. For now, please feel free to peruse the guide that the folks at the <a href="https://www.samafia.net/wiki/Votefinder">SA Mafia community</a> have put together to get started.</p>
        </li>
        <li>
            <h3>I've registered, what's next? How do I link my forum profile?</h3>
            <p>There's a link on your <a href="/profile">profile page</a> which you can use to link your forum account on any supported forum. You can link up to one account per supported forum to your player profile if you wish.</p>
            <p>If you get an error that that player already exists when linking your profile, you can click on the link provided to start the process of claiming that player profile.</p>
        </li>
        <li>
            <h3>How do you know that I am who I say I am? Do you need access to my forum account?</h3>
            <p>Votefinder will never ask for your forum password. Instead, we ask you to add an 8-digit number somewhere on your profile page during the profile linking process. We then look at your forum member profile to verify that that number is present, which we treat as confirmation that you own that forum account.</p>
        </li>
        <li>
            <h3>Will you support my forum?</h3>
            <p>Probably not since part of why I develop this is my existing community involvement, but you can always file an issue and I'll look at it.</p>
        </li>
    </ol>
{% endblock %}
