{% extends "base.html" %}
{% block title %}VoteFinder: Frequently Asked Questions{% endblock %}

{% block content %}
    <h1><a href="/">VoteFinder</a>: Frequently Asked Questions</h1>
    <hr>

    <p>I will have some stuff here someday!!</p>

    <ol>
        <li>
            <h3>Who are you?</h3>
            <p>Hi, I'm <a href="https://ajl.io" target="_blank">Alli</a>, the maintainer behind Votefinder.</p>
        </li>
        <li>
            <h3>Why does this site suck?</h3>
            <p>The Votefinder development process is ongoing, and continuing to add new features and fix issues. If you've noticed an issue with the site or vote counting, please feel free to contact me or submit an issue via the GitHub issues page (linked in the website footer).</p>
        </li>
        <li>
            <h3>How do I use Votefinder?</h3>
            <p>A more comprehensive guide is coming soon.</p>
        </li>
    </ol>
{% endblock %}
