{% extends "base.html" %}
{% block title %}Votefinder: Game List{% endblock %}

{% block onready %}
    $('.game').click(function() {
    location.href = $(this).find("a").attr("href");
    });
{% endblock %}

{% block content %}
    <h1>Welcome to Votefinder</h1>
    <hr>

    <p>Votefinder is currently tracking <strong>{{ total }}</strong> game{{ total|pluralize }}. Overall, there
        have been {{ post_count }} posts spread across {{ game_count }} games, containing {{ vote_count }} votes
        cast by {{ player_count }} players.</p>
    {% if pregame_games == None and big_games == None and mini_games == None %}
        <p>No games are available.</p>
    {% else %}
	    <div class="active-games">
        {% for game in big_games %}
            <div class="game big">
                <a class="game-title" href="{{ game.get_absolute_url }}#votecount">{{ game.name|safe }}</a><span class="pull-right"><small>{{ game.home_forum|upper }}</small></span><br>
                <span class="game-mod">Mod: <a href="{{ game.moderator.get_absolute_url }}">{{ game.moderator.name }}</a></span>
                <span class="second-line">Day {{ game.current_day }} with {{ game.living_count }} alive</span>
            </div>
        {% endfor %}
        
        {% for game in mini_games %}
            <div class="game mini">
                <a class="game-title" href="{{ game.get_absolute_url }}#votecount">{{ game.name|safe }}</a><span class="pull-right"><small>{{ game.home_forum|upper }}</small></span><br>
                <span class="game-mod">Mod: <a href="{{ game.moderator.get_absolute_url }}">{{ game.moderator.name }}</a></span>
                <span class="second-line">Day {{ game.current_day }} with {{ game.living_count }} alive</span>
            </div>
        {% endfor %}
        </div>
        {% if pregame_games != None %}
            <br style="clear: left;" /><hr />
        {% endif %}
        <div class="pregame-games">
        {% for game in pregame_games %}
	        <div class="game pregame">
                <a class="game-title" href="{{ game.get_absolute_url }}#votecount">{{ game.name|safe }}</a><span class="pull-right"><small>{{ game.home_forum|upper }}</small></span><br>
                <span class="game-mod">Mod: <a href="{{ game.moderator.get_absolute_url }}">{{ game.moderator.name }}</a></span>
                <span class="second-line">This game has not yet started. Visit the thread to sign up!</span>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    <p style="clear: left; padding-top: 1em;"><a class="add-button" href="/add">Add a Game</a> | <a href="/closed">Closed
        Games</a> | <a href="/players">View Players</a> | <a href="https://github.com/aletson/votefinder-web/issues">Report
        a Bug</a> | <a href="http://status.votefinder.org/">Website Status</a></p>

    {% comment %}
  {% if posts %}
    <hr>
   	{% for post in posts %}
   		<div class="blogPost">
   			<span class="blogPostTitle">{{ post.title }}</span><br>
   			<sup><i>by {{post.author}} on {{post.timestamp}} GMT</i></sup><br>
   			<div class="blogPostBody">{{ post.text|safe }}</div>
   		</div>
  	{% endfor %}
  {% endif %}
  {% endcomment %}

{% endblock %}
