{% extends "base.html" %}
{% block title %}Votefinder: {{ player.name|safe }}{% endblock %}

{% block onready %}
{% endblock %}

{% block content %}
    <h1><a href="/">Votefinder</a>: Player: {{ player.name|safe }} <small>{% if pronouns %}(pronouns: {{ pronouns }}){% endif %}</small></h1>
    {% if player.sa_uid %}(<a href="http://forums.somethingawful.com/member.php?action=getinfo&userid={{ player.sa_uid }}" target="_blank">jump to SA
    profile</a>){% endif %}
    {% if player.bnr_uid %}(<a href="http://breadnroses.net/members/{{ player.bnr_uid }}" target="_blank">jump to BNR
        profile</a>){% endif %}
    {% if user.is_authenticated %}
        (<a href="/players/common_games/{{user.profile.player.slug}}/{{player.slug}}">See games played with this player</a>)
    {% endif %}
    {% if show_claim %}
    (<a href="/claim_player/{{player.id}}">Claim this player</a>)
    {% endif %}
    <hr>

    <p>Aliases:
        {% if aliases %}
            <ol>
                {% for a in aliases %}
                    <li>{{ a.alias|safe }} {% if show_delete %}
                        <sup><i>(<a href="/delete_alias/{{ a.id }}">x</a>)</i></sup>{% endif %}</li>
                {% endfor %}
            </ol>
        {% else %}
            <ul>
                <li><i>None defined</i></li>
            </ul>
        {% endif %}

    <p>Currently Active Games:
    <ol>
        {% for g in player.current_games %}
            <li>{{ g.state }} in <a href="{{ g.game.get_absolute_url }}">{{ g.game|safe }}</a></li>
        {% endfor %}
    </ol>

    <p>Old Games:
    <ol>
        {% for g in player.closed_games %}
            <li>{% if g.moderator or g.spectator %}{{ g.state }}{% else %}Played{% endif %} in <a
                    href="{{ g.game.get_absolute_url }}">{{ g.game|safe }}</a></li>
        {% endfor %}
    </ol>

{% endblock %}

