{% extends "base.html" %}
{% block title %}VoteFinder: Players{% endblock %}

{% block header %}
    <script type="text/javascript" src="/static/jquery.datatables.js"></script>
    <link href="/static/jquery.datatables.min.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block onready %}
    $('table.game-list').DataTable()
{% endblock %}

{% block content %}
    <h1><a href="/">VoteFinder</a>: Players</h1>
    <hr>

    <table class="game-list table-striped">
        <thead>
        <tr>
            <td class="asc">Player Name</td>
            <td>Alive in Games</td>
            <td>Last Post</td>
            <td>Games Played</td>
            <td>Games Run</td>
            <td>Posts/Game</td>
        </tr>
        </thead>
        <tbody>
        {% for p in players %}
            <tr>
                <td><a href="/player/{{ p.slug }}">{{ p.name }}</a></td>
                <td>{{ p.alive }}</td>
                <td>{{ p.last_post|date }}</td>
                <td>{{ p.total_games_played }}</td>
                <td>{{ p.total_games_run }}</td>
                <td>{{ p.posts_per_game|floatformat }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
