{% extends "base.html" %}
{% block title %}VoteFinder: Players{% endblock %}

{% block header %}
    <script type="text/javascript" src="/static/jquery.datatables.js"></script>
    <link href="/static/jquery.datatables.min.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block onready %}
    $('#game-list').DataTable({"order":[[0, "asc"]]});
{% endblock %}

{% block content %}
    <h1><a href="/">VoteFinder</a>: Players</h1>
    <hr>

    <table class="table table-striped" id="game-list">
        <thead>
        <tr>
            <th>Player Name</th>
            <th>Alive in Games</th>
            <th>Last Post</th>
            <th>Games Played</th>
            <th>Games Run</th>
            <th>Posts/Game</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Player Name</th>
            <th>Alive in Games</th>
            <th>Last Post</th>
            <th>Games Played</th>
            <th>Games Run</th>
            <th>Posts/Game</th>
        </tr>
        </tfoot>
        <tbody>
        {% for p in players %}
            <tr>
                <td><a href="/player/{{ p.slug }}">{{ p.name }}</a></td>
                <td>{{ p.alive }}</td>
                <td>{{ p.last_post|date }}</td>
                <td>{{ p.total_games_played }}</td>
                <td>{{ p.total_games_run }}</td>
                <td>{{ p.posts_per_game|floatformat }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
