{% extends "base.html" %}
{% block title %}VoteFinder: Your Profile{% endblock %}

{% block onready %}
    $.ajaxSetup({
        headers: { "X-CSRFToken": Cookies.get("csrftoken") }
    });
 // Code goes here to switch theme when dropdown is updated -- update schema via ajax then update CSS
    $("#theme-selector").on("change", function() {
        $(this).prop("disabled", true);
        $.post("/update_user_theme", {t: $(this).val()}) //TODO better path
            .done(function() {
                console.log($("#theme-selector option:selected").text())
                $("#theme-css").attr("href", "/static/style-" + $("#theme-selector option:selected").text() + ".css");
                $("#theme-selector").prop("disabled", false);
            })
            .fail(function() {
                alert("Failed to contact the server. Please contact the developer.");
                //TODO more elegant
            });
    });
{% endblock %}

{% block content %}
    <h1><a href="/">VoteFinder</a>: Profile: {{ player.name|safe }}</h1>
    (<a href="http://forums.somethingawful.com/member.php?action=getinfo&userid={{ player.uid }}">jump to live
    profile</a>)
    <hr>

    <p>
    <table border="0" cellpadding="3" cellspacing="2">
        <tr>
            <td>Registered:</td>
            <td>{{ profile.registered }}</td>
        </tr>
        <tr>
            <td>Change Password:</td>
            <td><a href="/auth/password_change">Click here</a></td>
        </tr>
        <tr>
            <td>Theme Select:</td>
            <td><select class="form-control" id="theme-selector">
                {% for t in themes %}
                <option value="{{ t.id }}" {% if t.id == profile.theme.id %} selected="selected" {% endif %}>{{ t.name }}</option>
                {% endfor %}
                </select></td>
    </table></p>

    <hr>

    <p>Playing in games:
    <ol>
        {% for g in games %}
            <li>{{ g.state }} in <a href="{{ g.game.get_absolute_url }}">{{ g.game|safe }}</a></li>
        {% endfor %}
    </ol></p>
{% endblock %}
