{% extends "base.html" %}
{% block title %}Votefinder: Your Profile{% endblock %}

{% block onready %}
    $.ajaxSetup({
        headers: { "X-CSRFToken": Cookies.get("csrftoken") }
    });
    $("#theme-selector").on("change", function() {
        $(this).prop("disabled", true);
        $.post("/update_user_theme", {t: $(this).val()}) //TODO better path
        .done(function() {
            console.log($("#theme-selector option:selected").text())
            $("#theme-css").attr("href", "/static/style-" + $("#theme-selector option:selected").text() + ".css");
            $("#theme-selector").prop("disabled", false);
        })
        .fail(function() {
            alert("Failed to contact the server. Please contact the developer.");
            //TODO more elegant
        });
    });
	$("#pronouns-submit").on('click', function() {
		$(this).prop('disabled', true);
		$('#pronouns').prop('disabled', true);
		$.post("/update_user_pronouns", {p: $('#pronouns').val()})
		.done(function() {
		    $('#pronouns-submit').prop('disabled', false);
		    $('#pronouns').prop('disabled', false);
		})
		.fail(function() {
		    alert("Failed to contact the server. Please contact the developer.");
		});
	});
{% endblock %}

{% block content %}
    <h1><a href="/">Votefinder</a>: Profile: {{ player.name|safe }}</h1>
    {% if player.sa_uid is not None %}
    (<a href="https://forums.somethingawful.com/member.php?action=getinfo&userid={{ player.sa_uid }}">jump to SA
    profile</a>)
    {% endif %}
    {% if player.bnr_uid is not None %}
    (<a href="https://breadnroses.net/members/{{ player.bnr_uid }}">jump to BNR
        profile</a>)
    {% endif %}
    <hr>

    <p>
    <table border="0" cellpadding="3" cellspacing="2">
        {% if player.bnr_uid is None or player.sa_uid is None %}
            <td>Link New Forums Profile: </td>
            <td><a href="/auth/link_profile">Click here</a></td>
        {% endif %}
        <tr>

        </tr>
        <tr>
            <td>Registered:</td>
            <td>{{ profile.registered }}</td>
        </tr>
        <tr>
            <td>Change Password:</td>
            <td><a href="/auth/password_change">Click here</a></td>
        </tr>
        <tr>
            <td>Theme Select:</td>
            <td><select class="form-control" id="theme-selector">
                {% for t in themes %}
                <option value="{{ t.id }}" {% if t.id == profile.theme.id %} selected="selected" {% endif %}>{{ t.name }}</option>
                {% endfor %}
                </select></td>
		</tr>
		<tr>
			<td>Pronouns:</td>
			<td><input class="form-control" id="pronouns" value="{% if profile.pronouns %}{{ profile.pronouns }}{% endif %}" /></td>
			<td><button class="form-control btn btn-info" id="pronouns-submit">Save</button></td>
		</tr>			
    </table></p>

    <hr>

    <p>Playing in games:
    <ol>
        {% for g in games %}
            <li>{{ g.state }} in <a href="{{ g.game.get_absolute_url }}">{{ g.game|safe }}</a></li>
        {% endfor %}
    </ol></p>
{% endblock %}
