<h1>Unresolved Votes</h1>

<p>Sorry, VoteFinder can't create a good votecount right now because there are some votes it doesn't understand. Please
    resolve the ones listed below by deciding who the author intended to vote.</p>

<table cellpadding="2" cellspacing="2" border="0" id="unresolved">
    {% for v in votes %}
        <tr>
            <td>{{ v.author }} votes {{ v.targetString|safe }}</td>
            <td><select class="resolver" id="{{ v.id }}">
                <option value="-1">Ignore</option>
                <option value="-2">No Execute</option>
                <option value="0" selected="selected">------</option>
                {% for p in players %}
                    <option value="{{ p.player.id }}">{{ p.player.name|safe }}</option>
                {% endfor %}
            </select></td>
        </tr>
    {% endfor %}
</table>
