<div class="well" valign="top" id="votecount-well" style="word-wrap: break-word;">
    <div class="row">
        <div class="col-md-9">
            <div style="float:right; margin: 0.5em;">
                {% if post_vc_button %}
                    <button class="button btn btn-default" id="post-vc-button">Post Votecount</button>
                {% endif %}
            </div>
            <div id="votecount-results">{{ html_votecount|safe }}</div>
    </div>
    <div class="col-md-3">
            <textarea id="bbcode" class="form-control">{{ bbcode_votecount }}</textarea>
    </div>
    </div>
        </div>
