{% extends "base.html" %}
{% block title %}VoteFinder: Change Password{% endblock %}

{% block onready %}
  $("button, input:submit").button();
{% endblock %}

{% block content %}
        <h1><a href="/">VoteFinder</a>: Reset Password</h1><hr>

        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>


        <form action method="post">{% csrf_token %}
                <table border="0" cellpadding="3" cellspacing="2">
                <tr>
                        <td>New Password:</td>
                        <td>{{ form.new_password1 }}</td>
                        <td>{{ form.new_password1.errors }}</td>
                </tr>
                <tr>
                        <td>Confirm New Password:</td>
                        <td>{{ form.new_password2 }}</td>
                        <td>{{ form.new_password2.errors }}</td>
                </tr>
                </table>
                <p><input type="Submit" value="Change Password" /></p>

        </form>
{% endblock %}
