{% extends "base.html" %}
{% block title %}VoteFinder: Game List{% endblock %}

{% block onready %}
  $('.game').click(function() {
    location.href = $(this).find("a").attr("href");
  });
{% endblock %}

{% block content %}
  <h1>Welcome to VoteFinder</h1><hr>
  
  <p>Votefinder is currently tracking <strong>{{total}}</strong> game{{total|pluralize}}.  Overall, there
     have been {{post_count}} posts spread across {{game_count}} games, containing {{vote_count}} votes  
     cast by {{player_count}} players.</p>
  
  {% for game in big_games %}
      <div class="game big">
      	<a class="game-title" href="{{game.get_absolute_url}}#votecount">{{game.name|safe}}</a><br>
	<span class="game-mod">Mod: <a href="{{game.moderator.get_absolute_url}}">{{game.moderator}}</a></span>      		
	<span class="second-line">Day {{game.current_day}} with {{game.living_count}} alive</span>
      </div>
  {% endfor %}
  
  {% for game in mini_games %}
      <div class="game mini">
      	<a class="game-title" href="{{game.get_absolute_url}}#votecount">{{game.name|safe}}</a><br>
      	<span class="game-mod">Mod: <a href="{{game.moderator.get_absolute_url}}">{{game.moderator}}</a></span>
	<span class="second-line">Day {{game.current_day}} with {{game.living_count}} alive</span>
      </div>
  {% endfor %}
  
  {% if big_games == None and mini_games == None %}
	  <p>No games are available.</p>
  {% endif %}
  
  <p style="clear: left; padding-top: 1em;"><a class="add-button" href="/add">Add a Game</a> | <a href="/closed">Closed Games</a> | <a href="/players">View Players</a> | <a href="http://code.google.com/p/votefinder-web/issues/entry">Report a Bug</a></p>
  	    
  {% if posts %}
    <hr>
   	{% for post in posts %}
   		<div class="blogPost">
   			<span class="blogPostTitle">{{ post.title }}</span><br>
   			<sup><i>by {{post.author}} on {{post.timestamp}} GMT</i></sup><br>
   			<div class="blogPostBody">{{ post.text|safe }}</div>
   		</div>
  	{% endfor %}
  {% endif %}
  
{% endblock %}
